# -----------------------------
# .NET Core
# -----------------------------
bin/
obj/
*.user
*.suo
*.userosscache
*.sln.docstates

# Visual Studio
.vs/

# -----------------------------
# React / Node
# -----------------------------
node_modules/
build/
npm-debug.log*

# -----------------------------
# Environment files
# -----------------------------
.env

# -----------------------------
# OS files
# -----------------------------
.DS_Store
Thumbs.db